# Build artifacts
out/
build/
CMakeFiles/
CMakeScripts/
_deps
generated/

*.slx
.antlr/

# Development artifacts
.vs/
.vscode/
.idea/
CMakePresets.json
CMakeSettings.json
*.user

# Runtime artifacts
*.log
*.lock
